<%= link_to 'new article', '/articles/new' %>

<ul>
  <% @articles.each do |article| %>
    <li>
      <em><%= article.title %></em> <br>
      <%= article.content %>
      <p>Written by <%= article.author %> at 2018-01-12</p>
    </li>
  <% end %>
</ul>
